.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  overflow-y: scroll;
  background-color: var(--color--manatee);
  justify-content: center;
  align-items: start;
}

.app-grid::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
}
