.form {
  max-width: 360px;
  padding: 18px;
  margin: 0 auto;
  display: relative;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color--grey);
  opacity: 1; /* Firefox */
}

.form__heading {
  color: whitesmoke;
  font-size: 1em;
  font-weight: bold;
  margin-block-end: 0.1em;
  text-shadow: 2px 1px 3px black;
}

.form__label {
  display: block;
}

.form__counter {
  position: relative;
  font-size: 0.7em;
  color: var(--color--grey);
  top: -28px;
  left: 297px;
  width: 19px;
  height: 0;
  text-align: right;
}
