* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  grid-template-rows: min-content;
  overflow-y: scroll;
  background-color: var(--color--manatee);
}

h1,
h2,
h3 {
  line-height: 1.3;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

button {
  font-size: 0.9em;
  padding: 10px 20px;
  display: block;
  margin: 28px auto;
  color: whitesmoke;
  text-transform: uppercase;
  text-decoration: none;
  background: var(--color--imperial-red);
  border-radius: 5px;
  border: 2px solid var(--color--amaranth-red);
  transition: all 0.4s ease 0s;
  text-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 3px black;
}

button:active {
  box-shadow: inset 1px 1px 3px black;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  background: var(--color--grey);
  color: var(--color--space-cadet);
  padding: 2px 7px;
  border-radius: 5px;
}

textarea,
input {
  resize: none;
  width: 100%;
  font: inherit;
  padding: 5px 10px;
}
