.hidden {
  display: none;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-se {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.m0 {
  margin: 0 !important;
}

.w100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.fa-circle {
  color: whitesmoke !important;
}

.fa-inverse {
  color: var(--color--space-cadet) !important;
}
