.buddies {
  font-weight: 600;
  color: var(--color--blue2);
}

.journal-heading {
  line-height: 1.333;
}

.comprehension {
  letter-spacing: -0.26px;
}

.m0 {
  margin: 0 !important;
}

.w100 {
  width: 100% !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fa-inverse {
  color: var(--color--space-cadet);
}
