.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.m0 {
  margin: 0 !important;
}

.w100 {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

.fa-circle {
  color: var(--color--alice-blue) !important;
}

.fa-inverse {
  color: var(--color--space-cadet) !important;
}
