:root {
  --color--space-cadet: #2b2d42ff;
  --color--manatee: #8d99aeff;
  --color--whitesmoke: whitesmoke;
  --color--grey: #e3e3e3;
  --color--imperial-red: #ef233cff;
  --color--amaranth-red: #d90429ff;
}
