.app-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.app-grid__main {
  overflow-y: scroll;
}

.app-grid__main__card {
  border: solid 1px black;
  padding: 30px;
}

.app-grid__main__card__header {
}

.app-grid__main__card__show-answer {
}

.app-grid__main__card__show-answer--toggle-show {
}

.app-grid__main__card__show-answer__answer {
}

.app-grid__footer {
}
