.app-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  background-color: slategray;
}

.card {
  position: relative;
  padding: 30px;
  margin: 48px 48px;
  border-radius: 15px;
  font-size: small;
  background-color: whitesmoke;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.card__icon {
  position: absolute;
  top: -12px;
  right: 16px;
  height: 32px;
  width: 32px;
}
