.app-grid {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
}

.app-grid__header {
  font-size: medium;
  background-color: antiquewhite;
}

.app-grid__main {
  overflow-y: scroll;
  background-color: slategray;
}

.app-grid__main__card {
  width: 128px;
  height: 96px;
  padding: 30px;
  margin: 48px 48px;
  border-radius: 15px;
  font-size: small;
  background-color: whitesmoke;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.app-grid__main__card--icon {
  position: relative;
  top: -42px;
  left: 200px;
  height: 32px;
  width: 32px;
}
.app-grid__footer__nav {
  background-color: teal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  justify-content: center;
}

.app-grid__footer__nav__entry {
  height: 16px;
  width: 16px;
}
